.site-header{
    background-color: #1bbc9b;
    color: #ecfdf9;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}


a{
    color: black;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace
}
a:hover{
    color: brown;
    text-decoration: none;
}


.site-content
{
    margin: 10px;
}

.profile-pic{
    border-radius: 50%;
    height: 150px;
    width: 150px;

}

body{
    margin : 0;
}